.movie-card {
  width: 100%;
  min-width: 330;
  padding: 20px;
  margin: auto;
  height: 100%;
  
}

.card {
  border: 1px solid #ce9e00;

}
body {
  background: url('../../../src/Images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}