.profile-container {
  width: 100%;
  min-width: 330;
  padding: 20px;
  margin: auto;
  height: 100%;
}

.update {
  width: 100%;
  margin: auto;
  color: #fff;
}

body {
  background: url('../../../src/Images/background.jpg') no-repeat center center fixed;
  background-size: cover;
   height: 100%;
    }